<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764836204733-l41f3bunbhsvp8fdst02lv1t8h7in9u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764836204733-l41f3bunbhsvp8fdst02lv1t8h7in9u2</string>
	<key>API_KEY</key>
	<string>AIzaSyCZYHYH7C-P9JB-u5v9mipdveew1GFHRd8</string>
	<key>GCM_SENDER_ID</key>
	<string>764836204733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chart2</string>
	<key>PROJECT_ID</key>
	<string>flutter-chart-app-53d26</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chart-app-53d26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764836204733:ios:5e8aebf6a7890f831127d4</string>
</dict>
</plist>